.ipynb_checkpoints 
cifar10.py
fortune500.csv
imports.py
Jupyter_Tutorial_1.ipynb
Jupyter_Tutorial_2(Advanced).ipynb
mnist_test.csv
mnist_test_10.csv
mnist_train.csv
mnist_train_100.csv
moon.jpg
required_math.tex 
required_math.pdf 
